*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    padding: 24px;
}

header{
    text-align: center;
    margin: 24px;
}

ul{
    display: flex;
    list-style: none;
    gap: 24px;
    border-width: 2px;
    border-color: red;
    border-style: solid;
    
}
.item{
    min-width:100px;
    height: 50px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    
    
    

}